<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wavenet.maintenance.dao.mapper.AppVersionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        VERSIONID, VERSIONNUM, ISUPDATE, URL, UPDATETIME, UPDATECONTENT, Modular
    </sql>


    <select id="selectNewData" parameterType="java.lang.String" resultType="com.wavenet.maintenance.dao.entity.AppVersion">
        select  VERSIONID ,VERSIONNUM ,ISUPDATE ,URL ,UPDATETIME ,UPDATECONTENT ,Modular from APP_VERSION where Modular =#{modular} order by UPDATETIME desc limit 0,1
    </select>
    <select id="areaList" resultType="com.wavenet.maintenance.dao.entity.OrgDept">

        SELECT * FROM org_dept

    </select>

</mapper>
